div.kcw-eoy-month-status-row-wrapper {
    padding-top: 25px;
}

div.kcw-eoy-month-status-row-item {
    border-top: 2px solid black;
    padding-bottom: 5px;
    position: relative;
}

div.kcw-eoy-month-status-row-item div {
    display: inline-block;
    margin-left: 25px;
}
div.kcw-eoy-month-status-row-wrapper strong {
    display: block;
    border-bottom: 2px solid black;
}

div div.kcw-eoy-month-status-uploaded {
    display: block;
}

div.kcw-eoy-month-status-delete-item {
    border: 2px solid red;
    border-radius: 25px;
    padding: 5px 10px;
    display: inline;
    background: white;
    color: red;
    font-weight: bolder;
    position: absolute;    
    right: 10px;
    bottom: 10px;
}
div.kcw-eoy-month-status-delete-item:hover {
    background: red;
    color: white;
    cursor: pointer;
}

div.kcw-eoy-month-status-row-wrapper span {
    display: block;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

span.kcw-eoy-month-status-ok {
    background: green;
}
span.kcw-eoy-month-status-warning {
    background: yellow;
}
span.kcw-eoy-month-status-error {
    background: red;
}

/* Special selectors */
div.kcw-eoy-month-status-row-wrapper .kcw-eoy-month-status-row-item:first-of-type {
    border-top: none;
}
